.dropdown-menu {
    margin-top: 0;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    min-width: 200px;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border: none;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
    min-width: 250px;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
	background: #ffbf00;
	color: white;
}
.dropdown-menu > li.show > a{
	color: white;
}
.dropdown-menu > li.show > a > .icon{
	color: white;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
}
