@font-face {
  font-family: 'flow-icon';
  src:  url('fonts/flow-icon.eot?9kyakz');
  src:  url('fonts/flow-icon.eot?9kyakz#iefix') format('embedded-opentype'),
    url('fonts/flow-icon.ttf?9kyakz') format('truetype'),
    url('fonts/flow-icon.woff?9kyakz') format('woff'),
    url('fonts/flow-icon.svg?9kyakz#flow-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="flow-"], [class*=" flow-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flow-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flow-angle-left:before {
  content: "\e900";
  color: #fff;
}
.flow-angle-right:before {
  content: "\e901";
  color: #fff;
}
.flow-cart:before {
  content: "\e902";
  color: #fff;
}
.flow-clock:before {
  content: "\e903";
  color: #fff;
}
.flow-close:before {
  content: "\e904";
  color: #fff;
}
.flow-comment:before {
  content: "\e905";
  color: #fff;
}
.flow-dislike:before {
  content: "\e906";
  color: #fff;
}
.flow-envelope:before {
  content: "\e907";
  color: #fff;
}
.flow-eye-2:before {
  content: "\e909";
  color: #fff;
}
.flow-eye-3:before {
  content: "\e90a";
  color: #fff;
}
.flow-facebook:before {
  content: "\e90b";
  color: #fff;
}
.flow-google:before {
  content: "\e90c";
  color: #fff;
}
.flow-google-plus:before {
  content: "\e90d";
  color: #fff;
}
.flow-heart:before {
  content: "\e90e";
  color: #fff;
}
.flow-heart-2:before {
  content: "\e90f";
  color: #fff;
}
.flow-home:before {
  content: "\e911";
  color: #fff;
}
.flow-instagram:before {
  content: "\e912";
  color: #fff;
}
.flow-key:before {
  content: "\e913";
  color: #fff;
}
.flow-like:before {
  content: "\e914";
  color: #fff;
}
.flow-linkedin:before {
  content: "\e915";
  color: #fff;
}
.flow-lock:before {
  content: "\e916";
  color: #fff;
}
.flow-long-arrow-left:before {
  content: "\e917";
  color: #fff;
}
.flow-long-arrow-right:before {
  content: "\e918";
  color: #fff;
}
.flow-minus:before {
  content: "\e919";
  color: #fff;
}
.flow-notification:before {
  content: "\e91a";
  color: #fff;
}
.flow-paper-plane:before {
  content: "\e91b";
  color: #fff;
}
.flow-pencil:before {
  content: "\e91c";
  color: #fff;
}
.flow-phone:before {
  content: "\e91d";
  color: #fff;
}
.flow-play:before {
  content: "\e91e";
  color: #fff;
}
.flow-play-2:before {
  content: "\e91f";
  color: #fff;
}
.flow-plus:before {
  content: "\e920";
  color: #fff;
}
.flow-reload:before {
  content: "\e921";
  color: #fff;
}
.flow-reply:before {
  content: "\e922";
  color: #fff;
}
.flow-search:before {
  content: "\e923";
  color: #fff;
}
.flow-skype:before {
  content: "\e924";
  color: #fff;
}
.flow-Symbol-383--1:before {
  content: "\e925";
  color: #fff;
}
.flow-twitter:before {
  content: "\e926";
  color: #fff;
}
.flow-user:before {
  content: "\e927";
  color: #fff;
}
