.about-page {
  .body {
    margin-top: rem-calc(40px);
    @include breakpoint(medium down) {
      padding: 0 rem-calc(20px);
    }
    .title {
      font-family: 'Roboto Condensed';
      font-size: rem-calc(40px);
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.33;
      letter-spacing: normal;
      color: #282f36;
      text-transform: uppercase;
      margin-bottom: rem-calc(20px);
      @include breakpoint(small down) {
        font-size: rem-calc(30px);
      }
    }
    .image {
      //display: flex;
      img {
        width: 100%;
      }
    }
    .info {
      margin-top: -10px;
      padding: 0 rem-calc(20px) rem-calc(60px) rem-calc(20px);
      @include breakpoint(medium down) {
        margin-top: 0;
      }
      .text {
        font-size: rem-calc(15px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.41;
        letter-spacing: normal;
        text-align: left;
        color: #53585e;
        &.bold {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
    .button-container {
      display: flex;
      margin-top: rem-calc(40px);
      width: 100%;
      .item {
        padding-left: rem-calc(16px);
        padding-right: rem-calc(16px);
        &:nth-child(1), &:nth-child(2) {
          @include breakpoint(medium down) {
            margin-bottom: 20px;
          }
        }
        &:nth-child(3) {
          @include breakpoint(small down) {
            margin-bottom: 20px;
          }
        }
        .button {
          height: 100%;
          width: 100%;
          border-radius: rem-calc(10px);
          font-size: rem-calc(18px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          align-items: center;
          div {
            width: 100%;
          }
          &.yellow {
            background-image: linear-gradient(to bottom, #ffd700, #daa520);
          }
          &.orange {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-image: linear-gradient(to bottom, #ffbf00, #db4649)
          }
        }
      }

    }
    .description-container {
      margin-top: rem-calc(35px);
      @include breakpoint(medium down) {
        padding: 0 rem-calc(16px);
      }
      .info {
        padding: 0;
        .text {
          font-size: rem-calc(16px);
          line-height: 1.33;
          color: #282f36;
        }
      }
    }
  }
  .detail-container {
    position: relative;
    margin-top: rem-calc(-100px);
    //background-image: url('/frontend/img/about-detail-bg.png');
    //background-position: center center;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-attachment: fixed;
    display: inline-block;
    padding-bottom: rem-calc(20px);
    .detail-bg {
      display: flex;
      img {
        width: 100%;
      }
    }
    .content {
      margin-top: rem-calc(160px);
      .item {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
        @include breakpoint(medium down) {
          padding-left: rem-calc(16px);
          padding-right: rem-calc(16px);
        }
        .description {
          padding: rem-calc(35px) rem-calc(25px);
          background-color: $white;
          .text {
            font-size: rem-calc(14px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #53585e;
            &.bold {
              font-weight: bold;
            }
          }
        }
        .title-container {
          padding: 0 rem-calc(20px);
          .title {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-color: #a67c00;
            height: rem-calc(65px);
            font-size: rem-calc(18px);
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: #ffffff;
          }
        }
      }
    }
  }
  .staff-container {
    margin-top: rem-calc(50px);
    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
    .title {
      font-family: 'Roboto Condensed';
      font-size: rem-calc(24px);
      font-weight: bold;
      font-stretch: condensed;
      line-height: 0.93;
      letter-spacing: normal;
      text-align: left;
      color: #daa520;
    }
    .subtitle {
      margin-top: rem-calc(10px);
      font-size: rem-calc(16px);
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #282f36;
    }
    .img-group {
      width: 100%;
    }
    .staff-list {
      margin-top: rem-calc(40px);
      .item {
        .avatar {
          width: 100%;
          max-height: 320px;
          @include breakpoint(medium down) {
            max-height: auto;
          }
        }
        padding-right: rem-calc(20px);
        &:nth-child(odd) {
          @include breakpoint(medium down) {
            padding-right: rem-calc(10px);
          }
        }
        &:nth-child(even) {
          @include breakpoint(medium down) {
            padding-right: 0;
            padding-left: rem-calc(10px);
          }
        }
        @include breakpoint(small down) {
          padding-right: 0;
        }
        .name {
          margin-top: rem-calc(5px);
          font-size: rem-calc(16px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: -0.9px;
          text-align: left;
          color: #282f36;
        }
        .staff-title {
          font-size: rem-calc(14px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.19;
          letter-spacing: -0.48px;
          text-align: left;
          color: #282f36;
          margin-top: rem-calc(5px);
        }
        .social-container {
          margin-top: rem-calc(5px);
          img {
            width: rem-calc(17px);
            margin-right: rem-calc(5px);
          }
          span {
            font-size: rem-calc(14px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: -0.48px;
            text-align: left;
            color: #282f36;
          }
        }
        .description {
          margin-top: rem-calc(10px);
          font-size: rem-calc(14px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: justify;
          color: #93969a;
        }
      }
    }
  }
}
