.banner-top {
  width: 100%;
  #sub-nav-toggle {
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 20;
    i {
      font-size: rem-calc(16px);
      color: $white;
    }
    @include breakpoint(medium down) {
      display: block;
      left: 10px;
      top: 10px;
      z-index: 2;
    }
  }
  .bg {
    width: 100%;
    max-height: rem-calc(450px);
    @include breakpoint(medium down) {
      height: rem-calc(200px);
    }
  }
  position: relative;
  .cover {
    position: absolute;
    opacity: 0.6;
    background-color: #000000;
    width: 100%;
    height: 100%;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    font-size: rem-calc(30px);
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.93;
    letter-spacing: normal;
    text-align: left;
    color: $white;
    height: 100%;
  }
  &.category {
    .cover {
      display: none;
    }
  }
  &.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    .info {
      width: 100%;
      position: absolute;
      text-align: center;
      display: inline-block;
      .title {
       position: static;
        width: auto;
        height: auto;
        font-size: rem-calc(30px);
        font-weight: bold;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.32;
        letter-spacing: normal;
        color: #ffffff;
        margin-top: 23px;
        text-align: center;
        max-height: 200px;
        overflow: auto;
      }
      .category {
        font-size: rem-calc(16px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-transform: uppercase;
        color: #ffffff;
      }
      .social-container {
        margin-top: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(small down) {
          padding-left: 10px;
          padding-right: 10px;
        }

        .item {
          margin-right: rem-calc(8px);
          font-size: rem-calc(14px);
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.83;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          @include breakpoint(375px down) {
            font-size: 14px;
          }
          @include breakpoint(320px down) {
            font-size: 12px;
          }
          img {
            padding-right: 8px;
          }
        }
      }
    }
  }
}
