.breadcrumb-container {
  @include breakpoint(medium down) {
    padding-left: rem-calc(20px);
    padding-right: rem-calc(20px);
  }
  .breadcrumb-item {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #93969a;
  }
  .flag{
    margin: 0 rem-calc(10px);
  }
}
