.contact-page {
  .content {
    margin-top: rem-calc(50px);
    #map {
      height: 500px;
      .map-info {
        max-width: 300px;
        justify-content: center;
        align-items: center;
        img {
          width: 60px;
        }
      }
    }
    .contact-form {
      padding: rem-calc(80px) rem-calc(40px);
      position: relative;
      .right {
        padding-left: rem-calc(40px);
        padding-bottom: rem-calc(20px);
        @include breakpoint(small down) {
          padding-left: 0;
          padding-top: rem-calc(15px)
        }
        .item {
          margin-bottom: rem-calc(15px);
          input {
            width: 100%;
            border: solid 1px #d7d7d7;
            border-radius: rem-calc(3px);
            padding: rem-calc(14px) rem-calc(10px);
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #8e8e93;
            &:focus {
              outline: none;
            }
          }
          button {
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            border-radius: 3px;
            background-color: #ffbf00;
            padding: rem-calc(10px);
            width: 100%;
            text-align: center;
          }
          textarea {
            padding: rem-calc(14px) rem-calc(10px);
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: #8e8e93;
            resize: none;
            box-shadow: none;
            height: rem-calc(60px);
            &:focus {
              border-color: #d7d7d7;
            }
          }
        }
      }
      .left {
        border-right: solid 1px #d7d7d7;
        padding-right: rem-calc(40px);
        @include breakpoint(small down) {
          padding-right: rem-calc(20px);
          border-right: none;
        }
        .title {
          font-size: 28px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #282f36;
          text-transform: uppercase;
        }
        .item {
          display: flex;
          align-items: center;
          margin-top: rem-calc(15x);
          img {
            cursor: pointer;
            margin-right: rem-calc(10px);
          }
          span {
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #383f45;
          }
        }
      }
      .cover {
        position: absolute;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
