.education-page {
  .hot-new {
    margin-top: rem-calc(60px);
    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
    .right-block {
      padding-left: 20px;
      @include breakpoint(small down){
        padding-left: 0px;
      }
      .title-block {
        padding-top:rem-calc(5px);
        padding-bottom: rem-calc(12px);
        border-bottom: solid 1px rgba(40, 47, 54, 0.15);
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #2b2b2b;
        @include breakpoint(small down) {
          margin-top: rem-calc(20px);
          font-size: rem-calc(26px);
        }
      }
      .event-list {
        margin-top: 20px;
        .event-item {
          margin-bottom: 26px;
          .image {
            img {
              width: 100%;
              min-height: rem-calc(100px);
            }
            @include breakpoint(small down) {
              display: block;

            }
          }

          .info {
            padding-left: rem-calc(15px);
            padding-right: rem-calc(15px);
            padding-top: rem-calc(5px);
            @include breakpoint(medium down) {
              padding-left: rem-calc(0px);
              padding-right: rem-calc(0px);
            }
            @include breakpoint(small down) {
              padding-top: rem-calc(20px);
            }
            .title {
              line-height: 1;
              font-size: rem-calc(16px);
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #2b2b2b;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .time-container {
              display: flex;
              align-items: center;
              margin-top: rem-calc(5px);
              margin-bottom: rem-calc(20px);
              span {
                font-size: rem-calc(13px);
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.79;
                letter-spacing: normal;
                text-align: left;
                color: #93969a;
              }
              img {
                width: 14px;
                margin-right: rem-calc(8px);
              }
              i {
                margin-left: rem-calc(15px);
                margin-right: rem-calc(8px);
                font-size: rem-calc(14px);
                color: #93969a;
              }
            }

            .description {
              margin-top: rem-calc(10px);
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.56;
              letter-spacing: normal;
              text-align: left;
              color: #53585e;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .read-more {
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.56;
              letter-spacing: normal;
              color: #307adb;
            }
          }
        }
      }
    }
    .left-block {
      img {
        width: 100%;
      }
      .info {
        .category {
          margin-top: 10px;
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: normal;
          text-align: left;
          color: #1d61f0;
        }
        .title {
          font-size: 26px;
          color: #2b2b2b;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.15;
          letter-spacing: normal;
          text-align: left;
        }
        .author {
          margin-top: rem-calc(10px);
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #8e8e93;
          span {
            color: #1d61f0;
          }
        }
        .description {
          margin-top: 10px;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #8e8e93;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 10px;
        }
        .read-more {

          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #1d61f0;

        }
      }

    }
  }
  .new-education {
    margin-top: rem-calc(40px);
    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
    .item {
      .avatar {
        width: 100%;
      }
      padding-right: rem-calc(20px);
      &:nth-child(odd) {
        @include breakpoint(medium down) {
          padding-right: rem-calc(10px);

        }
        @include breakpoint(small down) {
          padding-right: 0;
          padding-left: 0;
        }
      }
      &:nth-child(even) {
        @include breakpoint(medium down) {
          padding-right: 0;
          padding-left: rem-calc(10px);
        }
        @include breakpoint(small down) {
          padding-right: 0;
          padding-left: 0;
        }
      }
      @include breakpoint(small down) {
        padding-right: 0;
        padding-left: 0;
      }
      .info {
        margin-top: rem-calc(20px);
        .title {
          font-size: 16px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #2b2b2b;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .time-container {
          display: flex;
          align-items: center;
          margin-bottom: rem-calc(20px);
          span {
            font-size: rem-calc(12px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #93969a;
          }
          img {
            width: 12px;
          }
          i {
            font-size: rem-calc(12px);
            color: #93969a;
          }
        }
      }

    }
  }
  .succeed-education {
    margin-top: rem-calc(40px);
    .block-title {
      font-family: "Roboto Condensed";
      font-size: rem-calc(32px);
      padding-bottom: rem-calc(20px);
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #282f36;
      margin-right: rem-calc(20px);
      border-bottom: solid 3px #282f36;
      @include breakpoint(medium down) {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
      }
    }
    .succeed-list{
      margin-top: rem-calc(40px);
      margin-bottom: rem-calc(40px);
      .item{
        padding-left: rem-calc(16px);
        padding-right: rem-calc(16px);
        padding-bottom: rem-calc(50px);
        @include breakpoint(small down) {
          padding-left: rem-calc(20px);
          padding-right: rem-calc(20px);
        }
        img {
          width: 100%;
        }
        .info {
          .title {
            margin-top: 20px;
            font-size: 17px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #2b2b2b;
          }
          .author {
            margin-top: rem-calc(5px);
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #8e8e93;
            span {
              color: #1d61f0;
            }
          }
          .time-container {
            margin-top: 5px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #8e8e93;
          }
          .description {
            margin-top: 5px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #8e8e93;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
          }
          .read-more {

            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #1d61f0;

          }
        }

      }
    }
  }
}
