.event-detail-page {
  .content-container {
    margin-top: rem-calc(50px);
    padding-left: 16px;
    padding-right: 16px;
    p, h1, h2, h3, h4 {
      font-family: "SF Display" !important;
    }
    margin-bottom: 20px;
  }
  .register-form {
    margin-top: rem-calc(90px);
    .content {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
      position: relative;
      .image {
        position: absolute;
        right: rem-calc(-100px);
        top: rem-calc(-170px);
        @include breakpoint(medium down) {
          position: static;
        }
      }
      .form-controller {
        margin-top: rem-calc(20px);
        .item {
          margin-bottom: 25px;
          button {
            width: 100%;
            background-color: $yellow;
            color: $white;
            font-weight: bold;
            line-height: 1.2;
            padding: rem-calc(15px);
            font-size: rem-calc(16px);
            border-radius: 5px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          }
          select {
            margin-bottom: 0px;
            border-radius: 5px;
            border: solid 1px #c4c8cc;
            background-color: #ffffff;
            font-size: rem-calc(14px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            color: #93969a;
            opacity: 0.6;
            height: rem-calc(45px);
            padding: rem-calc(0px) rem-calc(25px) rem-calc(0px) rem-calc(25px);

            background-image: url("/frontend/img/select-arrow.png");
          }
          input, textarea {
            height: rem-calc(45px);
            width: 100%;
            padding: rem-calc(17px) rem-calc(20px);
            font-size: rem-calc(14px);
            border-radius: 5px;
            border: solid 1px #c4c8cc;
            &:focus {
              outline: none;
            }
          }
          #email {
            margin-bottom: 0;
          }
          textarea {
            resize: none;
            box-shadow: none;
            height: rem-calc(165px);
            &:focus {
              border-color: #cacaca;
            }
          }
          &.left {
            padding-right: rem-calc(16px);
            @include breakpoint(small down) {
              padding-right: 0;
            }
          }
          &.right {
            padding-left: rem-calc(16px);
            @include breakpoint(small down) {
              padding-left: 0;
            }
          }
        }
      }
      .text-title {
        line-height: 1.32;
        font-stretch: condensed;
        font-family: "Roboto Condensed";
        font-size: rem-calc(36px);
        font-weight: 900;
        font-style: italic;
        letter-spacing: normal;
        text-align: left;
        color: #daa520;
        position: relative;
        &:after {
          display: none;
        }
      }
    }

  }
  .gallery-block {
    margin-top: rem-calc(30px);
    margin-bottom: rem-calc(140px);
    .block-title {
      font-family: "Roboto Condensed";
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #282f36;
      margin-bottom: rem-calc(25px);
      @include breakpoint(medium down) {
        padding-left: rem-calc(16px);
      }
    }
    .main {
      img {
         width: 100%
      }
      margin-bottom: 25px;
    }
    .list {
      position: relative;
      .owl-stage {
        display: flex;
      }
      .owl-item {
        cursor: pointer;
        img {
          min-height: 120px;
        }
      }
      .pre, .next {
        position: absolute;
        cursor: pointer;
        object-fit: contain;
        background-color: #ffffff;
        width: rem-calc(45px);
        height: rem-calc(45px);
        color: #dfe0e1;
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: calc(50% - 22.5px);
        z-index: 1;
        &:hover {
          background-color: $yellow;
          color: $white;
        }
      }
      .next {
        right: 0;
      }
      .pre {
        left: 0;
      }
      .owl-dots {
        @include breakpoint(medium down) {
          display: none !important;
        }
      }
      .owl-controls {
        position: absolute;
        display: flex;
        width: calc(100%);
        left: 0;
        top: calc(50% - 22.5px);
        display: none;

        .owl-nav {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .owl-prev, .owl-next {
            cursor: pointer;
            object-fit: contain;
            background-color: #ffffff;
            width: rem-calc(45px);
            height: rem-calc(45px);
            color: #dfe0e1;
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: $yellow;
              color: $white;
            }
          }
        }

      }
    }
  }
}
