.event-page {
  .latest-block {
    margin-top: rem-calc(60px);
    .banner {
      width: 100%;
    }
    .info {
      margin-top: rem-calc(20px);
      @include breakpoint(medium down) {
        padding-left: rem-calc(16px);
        padding-right: rem-calc(16px);
      }
      .category {
        font-size: rem-calc(16px);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
        color: #d4af37;
        text-transform: uppercase;
      }
      .title {
        margin-top: rem-calc(5px);
        font-size: rem-calc(20px);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        text-transform: uppercase;
      }
      .time-container {
        margin-top: rem-calc(10px);
        display: flex;
        align-items: center;
        span {
          font-size: rem-calc(14px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.79;
          letter-spacing: normal;
          text-align: left;
          color: #93969a;
        }
        img {
          width: 14px;
          margin-right: rem-calc(5px);
        }
      }
      .description {
        margin-top: rem-calc(10px);
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
        color: #53585e;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .btn-register {
    @include breakpoint(medium down) {
      margin-left: rem-calc(16px);
      margin-right: rem-calc(16px);
    }
    cursor: pointer;
    font-weight: bold;
    margin-top: rem-calc(25px);
    padding: rem-calc(5px);
    background-color: $yellow;
    color: $white;
    border-radius: 6px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .event-list {
    margin-top: rem-calc(40px);
    @include breakpoint(medium down) {
      padding-left: rem-calc(16px);
      padding-right: rem-calc(16px);
    }
    .title-block {
      font-family: Roboto;
      font-size: rem-calc(30px);
      font-weight: bold;
      font-stretch: condensed;
      letter-spacing: normal;
      text-align: left;
      color: #daa520;
      text-transform: uppercase;
      margin-bottom: rem-calc(20px);
    }
    .event-item {
      margin-bottom: 26px;
      .image {
        //display: flex;
        img {
          width: 100%;
          min-height: rem-calc(150px);

        }
        @include breakpoint(small down) {
          display: block;

        }
      }

      .info {
        padding-left: rem-calc(15px);
        padding-right: rem-calc(15px);
        @include breakpoint(small down) {
          padding-top: rem-calc(20px);
        }
        .category {
          font-size: rem-calc(14px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-align: left;
          color: #d4af37;
          text-transform: uppercase;
        }
        .title {
          text-transform: uppercase;
          font-size: rem-calc(16px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          text-align: left;
          color: #2b2b2b;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .time-container {
          display: flex;
          align-items: center;
          margin-top: rem-calc(5px);
          padding-left: rem-calc(5px);
          span {
            font-size: rem-calc(13px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            text-align: left;
            color: #93969a;
          }
          img {
            width: 14px;
            margin-right: rem-calc(8px);
          }
          i {
            margin-left: rem-calc(15px);
            margin-right: rem-calc(8px);
            font-size: rem-calc(14px);
            color: #93969a;
          }
        }

        .description {
          margin-top: rem-calc(5px);
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-align: left;
          color: #53585e;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .read-more {
          font-size: rem-calc(14px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          color: #307adb;
        }
      }
    }
  }
  .gallery-block {
    margin-top: rem-calc(40px);
    margin-bottom: rem-calc(60px);
    .title {
      font-family: Roboto;
      font-size: rem-calc(30px);
      font-weight: bold;
      font-stretch: condensed;
      letter-spacing: normal;
      text-align: left;
      color: #daa520;
      text-transform: uppercase;
      margin-bottom: rem-calc(20px);
      @include breakpoint(medium down) {
        padding-left: rem-calc(16px);
        padding-right: rem-calc(16px);
      }
    }
    .group {
      .item {

        a {
          width: 100%;
          display: flex;
        }
        cursor: pointer;
        padding-left: 16px;
        padding-right: 16px;
        &:first-child{
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
        @include breakpoint(medium down) {
          &:nth-child(2) {
            padding-right: 0;
            margin-bottom: rem-calc(20px);
          }
          &:nth-child(3) {
            padding-left: 0;
          }
          &:nth-child(1) {
            margin-bottom: rem-calc(20px);
          }
        }
        @include breakpoint(small down) {
          padding-right: 0;
          padding-left: 0;
          &:not(:last-child) {
            margin-bottom: rem-calc(20px);
          }
        }
        img {
          width: 100%;
        }
      }
      &:not(:last-child) {
        margin-bottom: rem-calc(20px);
      }
    }
  }
}
#event-modal {
  padding-right: 0px !important;
  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: rem-calc(700px);
  }

  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #form-submit {

    .modal-header {
      background-color: #0c6867;
      color: #ffffff;
      .close {
        color: white;
      }
    }
  }
  #modal-succeed {
    color: rgba(40, 47, 54, 0.3);
    .modal-header {
      .close {
        color: rgba(40, 47, 54, 0.3);;
      }
    }
    .modal-body {
     .icon {
       margin-top: rem-calc(10px);
       display: block;
       margin-left: auto;
        margin-right: auto;
     }
      .info {
        text-align: center;
        margin-top: rem-calc(40px);
        .title {
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #282f36;
        }
        .description {
          margin-top: rem-calc(20px);
          margin-bottom: rem-calc(30px);
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.29;
          letter-spacing: normal;
          text-align: center;
          color: #282f36;
        }
      }
    }
  }
  .modal-header {
    position: relative;
    .close {
      position: absolute;
      right: 10px;
      top: 0;
      &:focus {
        outline: none;
      }
    }
    .header {
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .modal-body {
    padding: 1rem rem-calc(50px);
    justify-content: center;
    .item {
      margin-bottom: rem-calc(20px);
      &.left {
        padding-right: 8px;
        @include breakpoint(small down) {
          padding-right: 0;
        }
      }
      &.right {
        padding-left: 8px;
        @include breakpoint(small down) {
          padding-left: 0;
        }
      }
    }
    select {
      height: rem-calc(50px);
      color: #c4c8cc;
      font-size: rem-calc(16px);
      padding: rem-calc(15px) rem-calc(30px) rem-calc(15px) rem-calc(20px);
      border-radius: 5px;
      border: solid 1px #93969a;
    }
    input {
      width: 100%;
      border-radius: 5px;
      border: solid 1px #93969a;
      background-color: #ffffff;
      font-size: rem-calc(16px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: #c4c8cc;
      padding: rem-calc(15px) rem-calc(20px);
      &:focus {
        outline: none;
      }
    }
    textarea {
      min-height: 100px;
      resize: none;
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
    .btn-sumit {
      width: 100%;
      cursor: pointer;
      font-weight: bold;
      padding: rem-calc(10px);
      background-color: $yellow;
      color: $white;
      border-radius: 6px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
      }
    }

  }
}

