footer {
  background-color: #282f36;
  padding: rem-calc(30px) 0 rem-calc(55px) 0;
  .body {
    display: flex;
    justify-content: space-between;
  }
  .item {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: rem-calc(18px);
    padding-left: rem-calc(10px);
    padding-right: rem-calc(10px);

    .language-container {
      margin-bottom: 10px;
      @include breakpoint(medium down) {
        display: flex;
        justify-content: center;
      }
      a {
        padding-right: 5px;
        img {
          width: 30px;
        }
      }
    }
    .social-container {
      display: flex;
      @include breakpoint(medium down) {
        justify-content: center;
      }
      a {
        &:not(:first-child) {
          margin-left: rem-calc(10px);
        }
      }
    }
    .logo {
      width:100%;
      max-width: rem-calc(105px);
      @include breakpoint(medium down) {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
    &.description {
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.6;
      letter-spacing: normal;
      color: #ffffff;
      @include breakpoint(medium down) {
       text-align: center;
        padding-left: rem-calc(34px);
        padding-right: rem-calc(34px);
      }
    }
    &.address-container {

      display: flex;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      @include breakpoint(medium down) {
        justify-content: center;
      }
      &:not(:first-child) {
        margin-top: rem-calc(10px)
      }
      @include breakpoint(medium down) {
        padding-left: rem-calc(34px);
        padding-right: rem-calc(34px);
      }
      img, i {
        margin-left: 0;
        margin-right: rem-calc(10px)
      }
      img {
        width: rem-calc(23px)
      }
    }
    .description {
      margin-top: rem-calc(10px);
      @include breakpoint(medium down) {
        display: none;
      }
    }
    .title {
      margin-bottom: rem-calc(25px);
    }
    .subtitle {
      font-weight: normal;
      i {
        padding-right: rem-calc(10px);
        font-size: rem-calc(16px);
        width: rem-calc(30px);
      }
      color: rgba(255, 255, 255, 0.8);
      &:not(:first-child) {
        padding-top: rem-calc(15px);
      }
    }
    .input-container {
      display: flex;
      color: white;
      margin-top: rem-calc(20px);
      @include breakpoint(medium down) {
        display: none;
      }
      input {
        width: 100%;
        border: solid 0.1px #ffbf00;
        background-color: transparent;;
        height: rem-calc(40px);
        padding: rem-calc(13px) rem-calc(15px);
        color: #daa520;
        font-size: rem-calc(14px);
        &:focus {
          outline: none;
        }
        &::placeholder{
          color: #daa520;
        }

      }
      .btn-send {
        height: 40px;
        object-fit: contain;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        background-color: #daa520;
        letter-spacing: normal;
        color: #ffffff;
        border: none;
        width: rem-calc(50px);
        display: flex;
        align-items: center;
        justify-content: center;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .copyright {
    padding-top: rem-calc(35px);
    @include breakpoint(medium down) {
      padding-top: rem-calc(10px);
      text-align: center;
    }
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #d4af37;
    border-top: solid 1px #53585e;
  }
}
