.gallery-page {
  .body {
    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
  }
  .tab-header {
    margin-top: rem-calc(40px);
    padding-right: rem-calc(40px);
    justify-content: space-between;
    border-bottom: solid #ffbf00 3px;
    .tab-title {
      text-transform: uppercase;
      font-family: Roboto;
      font-size: rem-calc(16px);
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #282f36;
      opacity: .34;
      padding-bottom:rem-calc(10px);
      cursor: pointer;
      &.active{
        color: $yellow;
        opacity: 1;
      };
      &:hover {
        color: $yellow;
        opacity: 1;
      }
    }
  }
  .tab-content {
    display: none;
    &.active {
      display: block;
    }
  }
  .event-list {
    margin-top: rem-calc(40px);
    .event-item {
      &:not(:first-child) {
        margin-top: rem-calc(45px);
      }
      .image {
        //display: flex;
        img {
          width: 100%;
          min-height: rem-calc(100px);
          &:hover {
            cursor: pointer;
          }
        }
        @include breakpoint(small down) {
          display: block;

        }
      }

      .info {
        padding-left: rem-calc(15px);
        padding-right: rem-calc(15px);
        @include breakpoint(small down) {
          padding-top: rem-calc(20px);
        }
        .category {
          font-size: rem-calc(16px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-align: left;
          color: #d4af37;
          text-transform: uppercase;
        }
        .title {
          margin-top: rem-calc(5px);
          font-size: rem-calc(20px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          text-transform: uppercase;
          a {
            color: #000000;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .time-container {
          margin-top: rem-calc(10px);
          span {
            font-size: rem-calc(14px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            text-align: left;
            color: #93969a;
          }
          i {
            color: #93969a;
          }
          img {
            width: 14px;
            margin-right: rem-calc(10px);
          }
        }

        .description {
          margin-top: rem-calc(10px);
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-align: left;
          color: #53585e;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .read-more {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          color: #307adb;
        }
      }
    }
  }
  .viewed-new-container{
    margin-top: rem-calc(50px);
    margin-bottom: rem-calc(80);
    position: relative;
    .title {
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #282f36;
      width: 100%;
      padding-left: rem-calc(5px);
      padding-bottom: rem-calc(10px);
      border-bottom: solid 1px rgba(40, 47, 54, 0.15);
    }
    .carousel-wrap {
      margin-top: rem-calc(20px);
      .owl-dots {
        display: none !important;
        @include breakpoint(medium down) {
          display: none !important;
        }
      }
      .owl-controls {
        position: absolute;
        top: rem-calc(-55px);
        right: rem-calc(20px);
        .owl-nav {
          display: flex;
          padding-right: 5%;
          .owl-prev {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
          .owl-next {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
          .owl-prev, .owl-next {
            cursor: pointer;
            object-fit: contain;
            background-color: #ffffff;
            width: rem-calc(30px);
            height: rem-calc(30px);
            color: #93969a;
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px rgba(40, 47, 54, 0.15);
            &:hover {
              background-color: $yellow;
              color: $white;
            }
          }
        }
      }
      .owl-item {
        cursor: pointer;
        padding-right: 15px;
        border-right: solid 1px rgba(40, 47, 54, 0.15);
        @include breakpoint(small down) {
          padding-right: 0;
          border: none;
        }
        .info {
          margin-top: rem-calc(16px);
          padding-bottom: 50px;

          .category {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: 1px;
            text-align: left;
            color: #daa520;

          }
          .title {
            margin-top: rem-calc(12px);
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #282f36;
            padding-left: 0;
            border: none;
          }
        }

      }
    }
  }
  .modal-dialog {
    max-width: 800px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0px !important;

  }
  .e-video {
    &:hover {
      cursor: pointer;
    }
  }


  .modal-body {
    position:relative;
    padding:0px;
  }
  .close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
  }
}
