header {
  .navigation-wrapper {
    justify-content: center;
    .navigation-container {
    }
  }
  .content {
    background-color: $yellow;
    padding: rem-calc(13px) 0;
    justify-content: center;
    .header-container {
      max-width: rem-calc(1070px);
    }
    .flex {
      justify-content: space-between;
    }
    .address-container {
      @include breakpoint(small down) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }
    .logo-container {
      display: flex;
      @include breakpoint(large down) {
        margin-top: 10px;
        margin-left: calc(16.66666667% - 7px);
      }
      @include breakpoint(medium down) {
        margin-left: calc(8.33333333% - 8px);
      }
      @include breakpoint(small down) {
        text-align: center;
      }
    }
    .item {
      .img-icon {
        width: rem-calc(30px);
      }
      .icon {
        color: $white;
      }
      .text {
        font-size: rem-calc(14px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: $text-color;
        padding-left: rem-calc(5px);
      }
      &.social-container {
        display: flex;
        justify-content: space-between;
        @include breakpoint(small down) {
          margin: rem-calc(20px) auto;
        }
      }
    }
  }
}
