@import "./mixin";
.home-page {
  @include breakpoint(small down) {
    background-color: #f9f9f9;
  }
  .event-filter-controller {
    display: none;
    @include breakpoint(medium down){
      display: flex;
      position: sticky;
      top: 0;
      z-index: 20;
    }
    select {
      margin-bottom: 0px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      font-size: rem-calc(12px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #93969a;
      padding: rem-calc(10px) 1.5rem rem-calc(10px) rem-calc(14px);
      background-image: url("/frontend/img/select-arrow.png");
    }
    .button-container {
      display: flex;
      button {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #bf9b30;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }

  }
  .banner {
    position: relative;
    .owl-controls {
      display: none;
      position: absolute;
      top: calc(50% - 22.5px);
      width: 100%;
      .owl-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .owl-prev, .owl-next {
          cursor: pointer;
          object-fit: contain;
          background-color: rgba(0, 0, 0, .5);
          width: rem-calc(45px);
          height: rem-calc(45px);
          color: #93969a;
          font-size: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: $yellow;
            color: $white;
          }
        }
      }

    }
    #sub-nav-toggle {
      position: absolute;
      display: none;
      cursor: pointer;
      i {
        font-size: 20px;
        color: $white;
      }
      @include breakpoint(medium down) {
        display: block;
        left: 10px;
        top: 10px;
        z-index: 10;
      }
    }
    img {
      width: 100%;
      max-height: 1000px;
      @include breakpoint(xlarge down) {
        //height: rem-calc(570px);
      }
    }
  }
  .service-container {
    padding-top: rem-calc(70px);
    @include breakpoint(small down) {
      padding-top: rem-calc(25px);
    }
    .text-title {
      display: inline-block;
    }
    .carousel-wrap {
      @include breakpoint(medium down) {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
      }
      .owl-item {
        cursor: pointer;
        padding-top: rem-calc(50px);
        .item {
          position: relative;
          //cursor: pointer;
          //padding-bottom: rem-calc(20px);
          //@include breakpoint(small down) {
          //  padding-bottom: 0px;
          //}
          //&:hover {
          //
          //    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.46);
          //}
          img {
            min-height: rem-calc(420px);
            @include breakpoint(medium down) {
              min-height: auto;
            }
          }

        }
        .cover {
          position: absolute;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.45);
          padding: rem-calc(14px);
          bottom: 0;
        }
        .text {
          font-size: rem-calc(12px);
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
        }
        &.clicked {
          padding-top: 0;
          .item {
            img {
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.46);
              margin-bottom: 20px;
            }
          }
          .text {
            color: $text-color;
          }
        }
      }
      .owl-nav {
        display: flex;
        justify-content: flex-end;
        padding-top: rem-calc(20px);
        @include breakpoint(small down) {
          display: none;
        }
        .owl-prev, .owl-next {
          cursor: pointer;
          object-fit: contain;
          background-color: #f2f2f2;
          width: rem-calc(54px);
          height: rem-calc(54px);
          color: #93969a;
          font-size: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: $yellow;
            color: $white;
          }
        }
      }
    }
  }
  .register-container {
    margin-top: rem-calc(55px);
    position: relative;
    &.desktop {
      @include breakpoint(small down) {
        display: none;
      }
    }
    &.mobile {
      display: none;
      @include breakpoint(small down) {
        display: block;
      }
    }
    img {
      width: 100%;
      height: rem-calc(260px);
      @include breakpoint(small down) {
        height: rem-calc(100px);
      }
    }
    .cover {
      position: absolute;
      width: 100%;
      opacity: 0.45;
      background-color: #000000;
      height: 100%;
    }
    .body {
      position: absolute;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      .text  {
        text-transform: uppercase;
        width: 100%;
        font-size: rem-calc(16px);
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: $white;
        &.bold {
          font-weight: bold;
        }
        @include breakpoint(small down) {
          font-size: rem-calc(12px);
        }
      }
      .input-container {
        display: flex;
        color: white;
        margin-top: rem-calc(20px);
        input {
          width: 100%;
          border: none;
          object-fit: contain;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: rgba(255, 255, 255, .22);
          height: rem-calc(50px);
          padding: rem-calc(15px) rem-calc(25px);
          color: $white;
          font-size: rem-calc(16px);
          &:focus {
            outline: none;
          }
          @include breakpoint(small down) {
            font-size: rem-calc(12px);
            height: rem-calc(30px);
          }

        }
        .btn-send {
          height: 50px;
          object-fit: contain;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffbf00;
          font-size: rem-calc(16px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
          letter-spacing: normal;
          color: #ffffff;
          border: none;
          width: rem-calc(135px);
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          &:focus {
            outline: none;
          }
          @include breakpoint(small down) {
            font-size: 12px;
            height: rem-calc(30px);
          }
        }
      }
    }
  }
  .benefit-container {
    //margin-top: rem-calc(-35px);
    background-color: rgba(218,165,32, 0.15);
    padding-top: rem-calc(110px);
    padding-bottom: rem-calc(100px);
    @include breakpoint(small down) {
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: rem-calc(20px);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #f4f1e8;
    }
    .benefit-body {
      min-height: rem-calc(290px);

      &.desktop {
        padding-left: rem-calc(20px);
        @include breakpoint(small down) {
          display: none;
        }
        .benefit-item {
          padding: 0 rem-calc(15px);
          @include breakpoint(small down) {
            &:not(:last-child) {
              margin-bottom: rem-calc(50px);
            }
          }
          .content {
            height: 100%;
            padding: rem-calc(15px);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border: solid 2px #daa520;
            .logo {
              width: rem-calc(57px)
            }
            .text {
              padding-top: rem-calc(20px);
              text-align: justify;

            }
          }
        }
      }
      &.mobile {
        display: none;
        padding-left: 0px;
        @include breakpoint(small down) {
          display: block;
        }
        .benefit-item {
          padding: 0 rem-calc(15px);
          @include breakpoint(small down) {
            margin-bottom: 0;
          }
          .content {
            height: 100%;
            padding: rem-calc(15px);
            .logo {
              width: rem-calc(57px)
            }
            .text {
              font-size: rem-calc(14px);
              &.bold {
                font-size: rem-calc(16px);
              }
            }
          }
        }
      }


    }
    .text-container {
      align-items: center;
      @include breakpoint(medium down) {
        margin-bottom: rem-calc(50px);
      }
      @include breakpoint(small down) {
        margin-bottom: rem-calc(20px);
      }
      .text {
        padding-top: rem-calc(30px);
        @include breakpoint(medium down) {
          padding-right: rem-calc(20px);
          padding-left: rem-calc(18px);
        }
        @include breakpoint(small down) {
          display: none;
        }
      }
      .text-title {
        @include breakpoint(small down) {
          display: none;
        }
      }
    }
    .text {
      font-size: rem-calc(16px);
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
      color: #53585e;
      &.bold {
        font-weight: bold;
      }
    }
  }
  .event-container {
    background-color: #f6f7f7;
    padding-top: rem-calc(25px);
    padding-bottom: rem-calc(75px);
    margin-top: rem-calc(65px);
    @include breakpoint(small down) {
      display: none;
    }
    .event-body {
      margin-top: rem-calc(25px);
      .left {
        padding-right: rem-calc(20px);
        @include breakpoint(medium down) {
          padding-right: 0px;
        }
      }
      .right {
        .event-item {
          height: calc(50% - 10px);
          .background {
            height: 100%;
            width: 100%;
          }
          &:first-child {
            margin-bottom: rem-calc(20px);
          }
        }
      }
    }
    .text-title {
      display: inline-block;
      &:after {
        width: 90%;
      }
    }
  }
  .register-form {
    min-height: rem-calc(600px);
    @include breakpoint(medium down) {
      min-height: auto;
    }
    @include breakpoint(small down) {
      min-height: rem-calc(300px);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #f4f1e8;
    }
    .desktop {
      @include breakpoint(small down) {
        display: none;
      }
      .form-controller {
        padding-top: rem-calc(185px);
        @include breakpoint(medium down) {
          padding-top: rem-calc(100px);
        }
      }
    }
    .mobile {
      display: none;
      @include breakpoint(small down) {
        display: block;
      }
      &.register-page {
        form {
          width: 100%;
        }
        select {
          height: rem-calc(32px) !important;
          font-size: 0.75rem !important;
        }
      }
      .image{
        position: absolute;
        top: 0;
        right: 0;
        width: auto !important;
        height: calc(100% - 20px);
      }
      button {
        margin-bottom: rem-calc(20px);
      }
      .form-controller {
        padding-top: rem-calc(130px);
        input {
          padding-right: 40% !important;
        }
        .item {
          margin-bottom: rem-calc(10px) !important;
          &:last-child {
            margin-bottom: rem-calc(20px) !important;
          }
        }
      }
    }
    .body {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
      position: relative;
      .image-controller {
        margin-left: -10%;
        z-index: 9;
      }
      button {
        width: 100%;
        color: $white;
        font-weight: bold;
        line-height: 1.3;
        padding: rem-calc(15px);
        font-size: rem-calc(18px);
        border-radius: 5px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        text-transform: uppercase;
        background-image: linear-gradient(to bottom, #daa520, #a67c00);
        @include breakpoint(small down) {
          font-size: rem-calc(14px);
          padding: rem-calc(8px);
        }
      }

      .form-controller {
        .item {
          margin-bottom: rem-calc(16px);
          &:last-child {
            margin-bottom: rem-calc(60px);
          }
          select {
            margin-bottom: 0px;
            border-radius: 5px;
            border: solid 1px #bf9b30;
            background-color: #ffffff;
            font-size: 0.75rem;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            color: #93969a;
            opacity: 0.6;
            height: rem-calc(45px);
            padding: rem-calc(0px) rem-calc(25px) rem-calc(0px) rem-calc(25px);

            background-image: url("/frontend/img/select-arrow.png");
          }
          .home-select {
            margin-bottom: 0px;
            border-radius: 5px;
            border: solid 1px #bf9b30;
            background-color: #ffffff;
            font-size: rem-calc(16px) !important;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: center;
            color: #93969a;
            opacity: 0.6;
            height: rem-calc(45px);

            background-image: url("/frontend/img/select-arrow.png");
            @include breakpoint(small down) {
              font-size: rem-calc(12px);
            }
          }
          input, textarea {
            height: rem-calc(45px);
            width: 100%;
            padding: rem-calc(15px) rem-calc(25px);
            font-size: rem-calc(16px);
            opacity: 0.6;
            border-radius: 5px;
            border: solid 1px #bf9b30;
            color: #93969a;
            &:focus {
              outline: none;
            }
            @include breakpoint(small down) {
              height: rem-calc(25px);
              font-size: rem-calc(12px);
            }
          }
          textarea {
            resize: none;
            box-shadow: none;
            height: rem-calc(165px);
            &:focus {
              border-color: #cacaca;
            }
          }
          &.left {
            padding-right: rem-calc(16px);
            @include breakpoint(small down) {
              padding-right: 0;
            }
          }
          &.right {
            padding-left: rem-calc(16px);
            @include breakpoint(small down) {
              padding-left: 0;
            }
          }
        }
      }
      .text-title {
        margin-bottom: rem-calc(55px);
        color: #bf9b30;
        font-size: rem-calc(40px);
        line-height: 1.32;
        text-transform: uppercase;
        &:after {
          display: none;
        }
        @include breakpoint(medium down) {
          font-size: rem-calc(30px);
        }
        @include breakpoint(small down) {
          font-size: rem-calc(16px);
          margin-left: 0px;
          margin-bottom: rem-calc(15px);
        }
        @include mobile-very-small {
          font-size: rem-calc(13px);
        }
      }
    }

  }
  .video-container {
    background-color: #f4f1e8;
    padding: rem-calc(80px) 0;
    @include breakpoint(medium down) {
      padding: 0 rem-calc(20px);
      background-color: #f9f9f9;
    }
    .text-title {
      margin-bottom: rem-calc(45px);
      display: inline-block;
      @include breakpoint(medium down) {
        margin-left: 0;
        margin-bottom: rem-calc(30px);
      }
    }
    .body {
      &.desktop {
        @include breakpoint(medium down) {
          display: none;
        }
      }
      &.mobile {
        display: none;
        @include breakpoint(medium down) {
          display: block;
        }
        .carousel-wrap {
          .owl-nav {
            display: none;
          }
        }
        .description {
          width: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          border-bottom-left-radius: 0.625rem;
          border-bottom-right-radius: 0.625rem;
        }
        .mobile-video-item {
          position: relative;
          cursor: pointer;
          .mobile-youtube-button {
            width: rem-calc(50px);
            position: absolute;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
            cursor: pointer;
            z-index: 2;
          }
          .mobile-youtube-video, .mobile-youtube-overlay {
            min-height: rem-calc(300px);
          }
        }
        .owl-dots {
          margin-top: rem-calc(10px);
          display: none !important;
          @include breakpoint(medium down) {
            display: block !important;
            .owl-dot {
              span {
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                background-color: #ffffff;
              }
              &.active {
                span {
                  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                  background-color: #bf9b30;
                }
              }
            }

          }
        }
      }
      .current-video-controller {
        position: relative;
        height: rem-calc(400px);
        @include breakpoint(medium down) {
          height: auto;
        }
        .youtube-button {
          width: rem-calc(92px);
          position: absolute;
          left: calc(50% - 46px);
          top: calc(50% - 46px);
          cursor: pointer;
        }
        img {
          //border-radius: rem-calc(6px);
          cursor: pointer;
        }
        #youtube-overlay {
          width: 100%;
          height: 100%;
        }
        iframe {
          display: none;
          border: none;
        }
        .description {
          padding: rem-calc(20px) rem-calc(20px);
          position: absolute;
          bottom: 0;
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.69;
          letter-spacing: normal;
          text-align: left;
          color: rgba(255, 255, 255, 0.8);
          width: 100%;
        }
      }
      .video-list {
        background-color: #ffffff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-top-right-radius: rem-calc(6px);
        border-bottom-right-radius: rem-calc(6px);
        .title {
          padding: rem-calc(15px) rem-calc(35px);
          font-size: rem-calc(30px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.67;
          letter-spacing: normal;
          color: #282f36;
          @include breakpoint(medium down) {
            padding: rem-calc(30px) rem-calc(20px);
          }

        }
        .body {
          height: calc(400px - 92px);
          overflow: auto;
          border-top: solid rgba(40, 47, 54, 0.15) rem-calc(2px);
        }
        .loadmore-container {
          border-top: solid rgba(40, 47, 54, 0.15) rem-calc(2px);
          padding-top: rem-calc(20px);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: rem-calc(14px);
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.69;
          letter-spacing: normal;
          text-align: left;
          color: #282f36;
          i {
            padding-right: rem-calc(10px);
            color: rgba(40, 47, 54, 0.3);
            font-size: rem-calc(20px);
          }
        }
        .video-item {
          cursor: pointer;
          padding: rem-calc(25px) rem-calc(20px);
          &:not(:last-child) {
            border-bottom: solid rgba(40, 47, 54, 0.15) rem-calc(2px);
          }
          &:hover {
            .video-description {
              .name {
                color: black;

              }
              .time {
                color: black;
                i {
                  color: red;
                }
              }
            }

          }
          .video-image {
            min-height: rem-calc(50px);
            img {
              width: 100%;
            }
          }
          .video-description {
            padding-left: rem-calc(10px);
            @include breakpoint(small down) {
              margin-top: rem-calc(20px);
            }
            .name {
              text-transform: none;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.25;
              letter-spacing: normal;
              color: rgba(40, 47, 54, 0.8);
              @include breakpoint(medium down) {
                font-size: rem-calc(16px);
              }
            }
            .time {
              display: flex;
              align-items: center;
              font-size: rem-calc(12px);
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.25;
              letter-spacing: normal;
              text-align: left;
              color: rgba(40, 47, 54, 0.5);
              padding-top: rem-calc(10px);
              @include breakpoint(medium down) {
                font-size: rem-calc(14px);
              }
              i {
                font-size: rem-calc(10px);
                color: rgba(40, 47, 54, 0.3);
                padding-right: rem-calc(10px);
              }
            }


          }

        }
      }
    }
  }
  .news-container {
    padding-top: rem-calc(55px);
    padding-bottom: rem-calc(45px);
    @include breakpoint(small down) {
      display: none;
    }
    .text-title {
      margin-bottom: rem-calc(55px);
      display: inline-block;
      &:after {
        width: 130%;
      }
    }
    .body {
      @include breakpoint(medium down) {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
      }
      .left {
        .event-item {
          height: 100%;
          @include breakpoint(large down) {
            height: rem-calc(460px);
          }
          image {
            height: 520px;
          }
        }
      }
      .right {
        padding-left: rem-calc(20px);
        @include breakpoint(medium down) {
          margin-top: rem-calc(50px);
        }
        .link-container {
          &:not(:last-child) {
            .item {
              margin-bottom: rem-calc(20px);
            }
          }
        }
        .item {
          display: flex;
          .image {
            img {
              height: rem-calc(140px);
              @include breakpoint(medium down) {
                width: 100%;
              }
            }
          }
          .info {
            padding-left: rem-calc(20px);
            padding-bottom: rem-calc(10px);
            @include breakpoint(large down) {
              padding-bottom: 0;
            }
            font-size: rem-calc(15px);
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            text-align: left;
            @include breakpoint(medium down) {
              font-size: rem-calc(18px);
            }
            .category {
              font-size: rem-calc(14px);
              font-weight: bold;
              color: #d4af37;
              text-transform: uppercase;
            }
            .title {
              margin-top: rem-calc(10px);
              line-height: 1.2;
              color: #000000;
            }
            .time-container {
              margin-top: rem-calc(10px);
              color: #93969a;
              font-size: rem-calc(13px);
              @include breakpoint(medium down) {
                font-size: rem-calc(14px);
                margin-top: rem-calc(30px);
              }
            }
          }
        }
      }
      .event-item {
        cursor: pointer;
        @include breakpoint(medium down) {
          display: block;
        }
        .background {
          width: 100%;
          height: 100%;
        }
        .cover {
          .description {
            font-size: rem-calc(20px);
            padding-top: rem-calc(12px);
            font-weight: 400;
          }
          .title {
            font-size: rem-calc(16px);
            color: $yellow;
            font-weight: bold;
          }
          .time-container {
            font-size: rem-calc(14px);
          }
        }
      }
    }
  }
  .comment-container {
    background-color: #f6f7f7;
    margin-top: rem-calc(165px);
    padding-bottom: rem-calc(250px);
    @include breakpoint(small down) {
      padding-bottom: rem-calc(100px);
    }
    .text-container {

      max-width: rem-calc(170px);
      @include breakpoint(large down) {
        max-width: rem-calc(150px);
      }
    }
    .text-title {
      padding-top: rem-calc(20px);
    }
    .right {
      padding-left: rem-calc(40px);
      @include breakpoint(small down) {
        padding-left: 0;
        padding-right: rem-calc(40px);
        margin-top: 50px;
      }
      position: relative;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      .body {
        max-width: rem-calc(900px);
        display: inline-block;
        border: solid 2px #ffbf00;
        background-color: #ffffff;
        padding: rem-calc(45px);
        position: absolute;
        top: rem-calc(-72px);
        @include breakpoint(small down) {
          position: static;
        }
        .user-info {
          display: flex;
          position: absolute;
          z-index:4;
          justify-content: center;
          width: 100%;
          top: calc(100% - 20px);
          @include breakpoint(small down) {
            top: calc(100% - 40px);
          }
          img {
            width: rem-calc(160px);
          }
          .info {
            padding-top: rem-calc(10px);
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            .title {
              color: #93969a
            }
            .name {
              font-weight: bold;
            }
          }
        }
        .content {
          padding-left: rem-calc(50px);;
        }
        .carousel-wrapper {
          position: relative;
          .owl-item {
            position: relative;
            padding-bottom: rem-calc(30px);
            @include breakpoint(small down) {
              padding-bottom: rem-calc(80px);
            }
            img {
              width: rem-calc(54px);
            }

          }
          .owl-controls {
            position: absolute;
            display: flex;
            width: calc(100% + 135px);
            left: rem-calc(-67.5px);
            top: calc(50% - 22.5px);
            .owl-nav {
              width: 100%;
              display: flex;
              justify-content: space-between;
              .owl-prev, .owl-next {
                cursor: pointer;
                object-fit: contain;
                background-color: #f2f2f2;
                width: rem-calc(45px);
                height: rem-calc(45px);
                color: #93969a;
                font-size: 19px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                  background-color: $yellow;
                  color: $white;
                }
              }
            }

          }
        }
      }
    }
  }
  .partner-container {
    //background-color: #f6f7f7;
    padding-top: rem-calc(35px);
    padding-bottom: rem-calc(35px);
    @include breakpoint(medium down) {
      padding: rem-calc(25px) rem-calc(20px) rem-calc(20px) rem-calc(20px);
    }
    .owl-dots {
      display: none !important;
      @include breakpoint(medium down) {
        display: block !important;
        .owl-dot {
          span {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
          }
          &.active {
            span {
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
              background-color: #bf9b30;
            }
          }
        }

      }
    }
    .owl-item {
      padding-bottom: rem-calc(5px);
      img {
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }
    }
    .owl-controls {
      position: absolute;
      display: flex;
      width: calc(100% + 110px);
      left: rem-calc(-55px);
      top: calc(50% - 22.5px);
      @include breakpoint(medium down) {
        position: static;
        display: block;
        width: 100%;
        margin-top: rem-calc(10px);
      }
      .owl-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include breakpoint(medium down) {
          display: none;
        }
        .owl-prev, .owl-next {
          cursor: pointer;
          object-fit: contain;
          background-color: #f2f2f2;
          width: rem-calc(45px);
          height: rem-calc(45px);
          color: #93969a;
          font-size: 19px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            background-color: $yellow;
            color: $white;
          }
        }
      }

    }
  }
  .text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }
  .text-title {
    font-size: rem-calc(40px);
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: #daa520;
    position: relative;
    font-family: "Roboto Condensed";
    @include breakpoint(large down) {
      font-size: rem-calc(30px);
    }
    @include breakpoint(medium down) {
      margin-left: rem-calc(20px);
    }
    &:after {
      content: "";
      width: 65%;
      height: 5px;
      background: #daa520;
      position: absolute;
      bottom: -8px;
      left: 0;
    }
  }
  .control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    .control-left, .control-right {
      cursor: pointer;
      object-fit: contain;
      background-color: $white;
      width: rem-calc(45px);
      height: rem-calc(45px);
      color: #dfe0e1;
      font-size: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }
  .event-item {
    position: relative;
    border-radius: rem-calc(10px);
    .calendar {
      position: absolute;
      top: 0;
      right: 0;
      width: rem-calc(96px);
      background-color: white;
      text-transform: uppercase;
      border-top-right-radius: rem-calc(10px);
      .month {
        display: flex;
        background-color: $yellow;
        color: $white;
        justify-content: center;
        align-content: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 2.06;
        border-top-right-radius: rem-calc(10px);
      }
      .date {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: rem-calc(60px);
        font-weight: bold;
        line-height: 1.2;
      }
    }
    .cover {
      width: 100%;
      padding: rem-calc(15px);
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, .7);
      border-bottom-left-radius: rem-calc(10px);
      border-bottom-right-radius: rem-calc(10px);
      .time-container {
        margin-top: rem-calc(5px);
        span {
          padding-left: rem-calc(5px);
          color: $white;
          font-size: rem-calc(12px);
          line-height: 2.08;
        }
      }
      .text {
        color: #ffffff;
        text-transform: uppercase;
        &.title {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.79;
        }
        &.description {
          padding-top: 20px;
          font-size: 20px;
          font-weight: 300;
          line-height: 1.25;
        }
      }
    }
  }
  .owl-dots {
    display: none !important;
    @include breakpoint(small down) {
      display: block !important;
      .owl-dot {
        span {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
        }
        &.active {
          span {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #bf9b30;
          }
        }
      }

    }
  }
}

@media screen and (max-width: rem-calc(321px))  {
  .text-title {
    font-size: rem-calc(13px);
  }
}
