html, body {
  background-color: $white;
  font-family: "Roboto";
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .flex {
    display: flex;
  }
  .layout-container {
    flex: 0 0 80%;
    max-width: 80%;
    @include breakpoint(xlarge down) {
      flex: 0 0 90%;
      max-width: 90%;
      margin-left: 5%;
    }
  }
  .padding-left {
    padding-left: 8%;
  }
  .global-title {
    font-family: 'Roboto Condensed';
  }
  .lg-image {
    min-width: 800px;
    @include breakpoint(medium down) {
      min-width: 500px;
    }
    @include breakpoint(small down) {
      min-width: 300px;
    }
  }
  .grid-content {
    max-width: rem-calc(1170px);
    margin-left: auto;
    margin-right: auto;
  }
}
