#main_navbar {
  position: relative;
  padding: 0;
  background-color: $white;
  min-height: rem-calc(65px);
  @include breakpoint(medium down) {
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);
    display: none;
  }
  .hotline-container {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .phone {
      padding: 5px 10px 0 10px;
      font-size: 13px;
    }
    .phone-icon {
      margin-top: 5px;
      width: 20px;
    }
    .language-container {
      img {
        width: 20px
      }
    }
  }
  .navbar-toggler {
    margin-left: auto;
    margin-right: rem-calc(20px);
  }
  .action-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include breakpoint(medium down) {
      padding-bottom: rem-calc(30px);
      padding-left: rem-calc(20px);
      justify-content: flex-start;
    }
    @include breakpoint(small down) {
      padding-bottom: rem-calc(50px);
      padding-left: 0px;
    }
    i {
      color: $icon-color;
    }
    .language-container {
      margin-left: rem-calc(10px);
      .img {
        width: rem-calc(30px);
        padding-left: rem-calc(5px);
      }
    }

  }
  .navbar-brand {
    max-width: rem-calc(60px);
    padding-bottom: 0;
    padding-top: 0;
    margin-right: 0;
    &.normal {
      @include breakpoint(medium down) {
        margin-left: 20px;
      }
    }
  }
  .navbar-collapse {
    margin-bottom: rem-calc(-8px);
    padding-left: 20px;
    @include breakpoint(small down) {
      padding-left: 20px;
      margin-bottom: 0;
    }
  }
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 7px;

    .nav-item {
      @include breakpoint(medium down) {
        height: auto;
        padding: rem-calc(10px) 0;
      }
      &:first-child {
        margin-left: 0
      }
      &:last-child {
        margin-right: 0;
      }
      &.active {
        .nav-link {
          font-weight: bold;
          color: $nav-link-active;
          border-bottom: solid $yellow 3px;
          padding-bottom: rem-calc(17px);
        }
      }
      &:hover {

        .nav-link {
          color: $nav-link-active;
          border-bottom: solid $yellow 3px;
          padding-bottom: rem-calc(17px);
        }
      }
      .nav-link {
        padding-top: rem-calc(20px);
        padding-bottom: rem-calc(20px);
        color: $nav-link;
        font-size: rem-calc(14px);
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
      }
      .dropdown-menu {
        @include breakpoint(small down) {
          border: none;
          box-shadow: none;
        }
        .dropdown-item {
          padding: .75rem rem-calc(10px);
          .icon {
            font-size: rem-calc(12px);
            color: $text-icon;
            padding-right: rem-calc(15px);
          }
        }
        &.level2 {
          @include breakpoint(medium down) {
            position: absolute;
          }
          @include breakpoint(small down) {
            position: static;
          }
        }
      }
      .show {
        a {
          &:hover {
            .icon {
              color: $white
            }
          }
        }
      }
    }

  }
  &.home-nav {
    @include breakpoint(medium down) {
      min-height: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    #nav-logo-home {
      max-width: rem-calc(120px);
      img {
        height: rem-calc(130px);
      }
      position: absolute;
      bottom: rem-calc(-75px);
      padding-top: 0;
      padding-right: 0;
      margin-right: 0;
      z-index: 2;
      @include breakpoint(medium down){
        display: none;
      }
    }
    #nav-logo {
      display: none;
    }
    .navbar-collapse {
      padding-left: rem-calc(120px);
      margin-bottom: -8px;
      @include breakpoint(medium down) {
        padding-left: 20px;
        margin-bottom: 0;
        display: none;
      }
    }
    .navbar-toggler {
      @include breakpoint(medium down) {
        display: none;
      }
    }
    .navbar-brand {

    }
  }
}

.contact-con {
  background-color: #bf9b30;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: none;
  @include breakpoint(medium down) {
    display: flex;
  }
  .item {
    border-left: solid 0.5px rgba(0, 0, 0, 0.16);
    border-right: solid 0.5px rgba(0, 0, 0, 0.16);
    height: 100%;
    color: #ffffff;
    display: flex;
    font-size: rem-calc(16px);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

#left-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 30;
  .body {
    position: relative;
    width: rem-calc(300px);
    background-color: #a67c00;
    height: 100%;
    overflow: auto;
    .header {
      padding-left: rem-calc(30px);
      padding-right: rem-calc(30px);
      display: flex;
      justify-content: space-between;
      .logo {
        cursor: pointer;
        img {
          height: rem-calc(98px);
          width: auto;
        }
      }
      .flag-container {
        padding-top: rem-calc(16px);
        img {
          width: rem-calc(29px);
          &:not(:first-child) {
            margin-left: rem-calc(10px);
            cursor: pointer;
          }
        }
      }
    }
    .menu-container {
      margin-top: rem-calc(40px);
      padding-left: rem-calc(30px);
      padding-right: rem-calc(45px);
      .nav-item {
        font-size: rem-calc(16px);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        .dropdown-menu {
          position: static !important;
          transform: none !important;
          word-break-inside: none !important;
          background-color: transparent;
          font-size: rem-calc(16px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.31;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          border: none;
          box-shadow: none;
          .dropdown-item {
            font-size: rem-calc(16px);
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: left;
            padding-left: rem-calc(10px);
            color: #ffffff;
            i {
              font-size: rem-calc(12px);
              padding-right: rem-calc(10px);
            }
          }
        }
      }
      .nav-link {
        font-size: rem-calc(14px);
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        &.dropdown-toggle {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .social-container {
      margin-top: rem-calc(10px);
      padding-left: rem-calc(50px);
      padding-right: rem-calc(50px);
    }
    .position-container {
      width: 100%;
      margin-top: rem-calc(200px);
      margin-bottom: rem-calc(30px);
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      .address-container {
        padding-left: rem-calc(16px);
        padding-right: rem-calc(16px);
        display: flex;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        &:not(:first-child) {
          margin-top: rem-calc(10px)
        }
        img, i {
          margin-right: rem-calc(10px)
        }
        img {
          width: rem-calc(23px)
        }
      }
    }
  }
}
