.new-detail-page {
  .image-cover {
    width: 100%;
    margin-top: rem-calc(20px);
    img {
      width: 100%;
    }
  }
  .banner-top .bg {
    height: 12.5em;
    @include breakpoint(medium down) {
      height: 17.5em
    }
  }
  .content-container {
    margin-top: rem-calc(50px);
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    p, h1, h2, h3, h4, span, strong, div, small, ul, li {
      font-family: "SF Display" !important;
      width: 100% !important;
      height: auto !important;
    }
    table {
      width: 100% !important;
    }
    img {
      width: 100% !important;
    }
    margin-bottom: 20px;
  }
  .avatar {
    width: 100%;
    margin-top: rem-calc(40px);
  }
  .viewed-new-container{
    margin-top: rem-calc(50px);
    margin-bottom: rem-calc(80);
    position: relative;
    border: solid 1px rgba(40, 47, 54, 0.15);
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    .title {
      padding-left: 16px;
      padding-right: 16px;
      font-family: "Roboto Condensed";
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #282f36;
      width: 100%;
      padding-bottom: rem-calc(10px);
      border-bottom: solid 1px rgba(40, 47, 54, 0.15);
      @include breakpoint(small down) {
        padding-right: rem-calc(16px);
        border: none;
      }
    }
    .carousel-wrap {
      margin-top: rem-calc(20px);
      padding-left: 16px;
      padding-right: 16px;
      .owl-controls {
        position: absolute;
        top: rem-calc(-55px);
        right: rem-calc(20px);
        .owl-nav {
          display: flex;
          padding-right: 5%;
          .owl-prev {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
          .owl-next {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
          .owl-prev, .owl-next {
            cursor: pointer;
            object-fit: contain;
            background-color: #ffffff;
            width: rem-calc(30px);
            height: rem-calc(30px);
            color: #93969a;
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px rgba(40, 47, 54, 0.15);
            &:hover {
              background-color: $yellow;
              color: $white;
            }
          }
        }
      }
      .owl-dots {
        display: none !important;
      }
      .owl-item {
        cursor: pointer;
        padding-right: 15px;
        border-right: solid 1px rgba(40, 47, 54, 0.15);
        @include breakpoint(small down) {
          padding-right: 0;
        }
        .info {
          margin-top: rem-calc(16px);
          padding-bottom: 50px;
          @include breakpoint(small down) {
            padding-left: rem-calc(16px);
          }
          .category {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: 1px;
            text-align: left;
            color: #daa520;

          }
          .title {
            margin-top: rem-calc(12px);
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #282f36;
            padding-left: 0;
            border: none;
          }
        }

      }
    }
  }
}
