.pagination {
  a{
    color: #282f36;
    &:hover {
      background: none;
      text-decoration: none;
      color: #4592ff;
    }
  }

 margin-top: rem-calc(55px);
 margin-bottom: rem-calc(55px);
  display: flex;
  justify-content: center;
  .control {
    display: flex;
    align-items: center;
    &.left {
      margin-right: rem-calc(50px);
    }
    &.right {
      margin-left: rem-calc(50px);
    }
  }
  .item {
    span {
      padding: 0.1875rem 0.625rem;
    }
    padding: rem-calc(17px) rem-calc(20px);
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #282f36;
    border-left: solid 1px #93969a;
    &.last {
      border-right: solid 1px #93969a;
    }
    &.active {
      color: #4592ff;
    }
    &:hover {
      color: #4592ff;

    }
  }
}
