.recruitment-page {
  .event-list {
    margin-top: rem-calc(40px);
    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
    .event-item {
      &:not(:first-child) {
        margin-top: rem-calc(45px);

      }
      .image {
        img {
          min-height: rem-calc(170px);
        }
        @include breakpoint(small down) {
          display: block;

        }
      }

      .info {
        padding-left: rem-calc(15px);
        padding-right: rem-calc(15px);
        @include breakpoint(small down) {
          padding-top: rem-calc(20px);
          padding-left: 0;
          padding-right: 0;
        }
        .category {
          font-size: rem-calc(16px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-align: left;
          color: #d4af37;
          text-transform: uppercase;
        }
        .title {
          margin-top: rem-calc(5px);
          font-size: rem-calc(20px);
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          text-transform: uppercase;
        }
        .time-container {
          margin-top: rem-calc(10px);
          span {
            font-size: rem-calc(14px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            text-align: left;
            color: #93969a;
          }
          img {
            width: 14px;
            margin-right: rem-calc(10px);
          }
        }

        .description {
          margin-top: rem-calc(10px);
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          text-align: left;
          color: #53585e;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .read-more {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.56;
          letter-spacing: normal;
          color: #307adb;
        }
      }
    }
  }
}
