.service-page {
  margin-bottom: rem-calc(60px);
  .content-container {
    margin-top: rem-calc(60px);
    padding-left: 16px;
    padding-right: 16px;
    p, h1, h2, h3, h4 {
      font-family: "SF Display" !important;
    }
  }
  .item {
    position: relative;
    cursor: pointer;
    .cover {
      position: absolute;
      display: flex;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.39;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    a {
      width: 100%;
      display: flex;
    }
    cursor: pointer;
    display: flex;
    padding-left: 2.5px;
    padding-right: 2.5px;
    &:first-child{
      padding-left: 0;
      img {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

    }
    &:last-child {
      padding-right: 0;
      img {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
    @include breakpoint(medium down) {
      img {
        border-radius: 0px;
      }
      &:nth-child(2) {
        padding-right: 0;
        margin-bottom: rem-calc(20px);
      }
      &:nth-child(3) {
        padding-left: 0;
      }
      &:nth-child(1) {
        margin-bottom: rem-calc(20px);
      }
    }
    @include breakpoint(small down) {
      padding-right: 0;
      padding-left: 0;
      &:not(:last-child) {
        margin-bottom: rem-calc(20px);
      }
    }
    img {
      width: 100%;
    }
  }
}
