.settlement-page {
  margin-bottom: rem-calc(60px);
  .description, .content {
    margin-top: rem-calc(30px);
    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
    p, h1, h2, h3, h4, span, div, figcaption {
      font-family: "Roboto" !important;
      line-height: 1.67;
    }
    table {
      width: 100% !important;
    }
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  .viewed-new-container{
    margin-top: rem-calc(50px);
    margin-bottom: rem-calc(80);
    position: relative;
    .title {
      font-family: "Roboto Condensed";
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: left;
      color: #282f36;
      width: 100%;
      padding-left: rem-calc(5px);
      padding-bottom: rem-calc(10px);
      border-bottom: solid 1px rgba(40, 47, 54, 0.15);
      @include breakpoint(small down) {
        padding-right: rem-calc(16px);
      }
    }
    .carousel-wrap {
      margin-top: rem-calc(20px);
      .owl-dots {
        display: none !important;
      }
      .owl-controls {
        position: absolute;
        top: rem-calc(-55px);
        right: rem-calc(20px);
        .owl-nav {
          display: flex;
          padding-right: 5%;
          .owl-prev {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
          }
          .owl-next {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
          }
          .owl-prev, .owl-next {
            cursor: pointer;
            object-fit: contain;
            background-color: #ffffff;
            width: rem-calc(30px);
            height: rem-calc(30px);
            color: #93969a;
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px rgba(40, 47, 54, 0.15);
            &:hover {
              background-color: $yellow;
              color: $white;
            }
          }
        }
      }
      .owl-item {
        cursor: pointer;
        padding-right: 15px;
        border-right: solid 1px rgba(40, 47, 54, 0.15);
        @include breakpoint(small down) {
          padding-right: 0;
          border: none;
        }
        .info {
          margin-top: rem-calc(16px);
          padding-bottom: 50px;
          @include breakpoint(small down) {
            padding-left: rem-calc(16px);
          }
          .category {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: 1px;
            text-align: left;
            color: #daa520;

          }
          .title {
            margin-top: rem-calc(12px);
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.19;
            letter-spacing: normal;
            text-align: left;
            color: #282f36;
            padding-left: 0;
            border: none;
          }
        }

      }
    }
  }
  .info-container {
    background-color: #bf9b30;
    padding-top: rem-calc(30px);
    padding-bottom: rem-calc(30px);
    margin-top: rem-calc(30px);
    position: relative;
    @include breakpoint(medium down) {
      padding: rem-calc(30px) rem-calc(20px);
    }
    @include breakpoint(small down) {
      padding: rem-calc(30px) 0 0 0;

    }
    color: $white;
    .compare-container {
      position: absolute;
      top: 10px;
      right: 10px;

    }
    .item {
      @include breakpoint(small down) {
        width: 100%;
        text-align: left;
        display: flex;
        padding-bottom: rem-calc(20px);
        &:not(:last-child) {
          border-bottom: solid rem-calc(1px) $white;
        }
        &:not(:first-child) {
          padding-top: rem-calc(20px);
        }
      }
      &.button-container {
        display: flex;
        align-items: center;
        padding-left: 10px;
        @include breakpoint(small down) {
          justify-content: center;
        }
      }
      &.content-container {
        width: 20%;
        @include breakpoint(small down) {
          width: 100%;
        }
      }
      .btn-compare {
        background-color: #A67C00;
        border: none;
        height: rem-calc(50px);
        font-size: rem-calc(14px);
        display: flex;
        width: 130px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        img {
          padding-right: 5px;
          width: rem-calc(22px);
          height: rem-calc(20px);
        }
        &:hover {
          border: none;
        }
      }
      text-align: center;
      .icon-container {
        position: relative;
        .icon {
          width: 30px;
          height: 30px;
        }
        @include breakpoint(small down) {
          width: 30%;
          justify-content: center;
          align-items: center;
          display: flex;
        }
        &:after {
          @include breakpoint(small down) {
            display: none;
          }
          content: "";
          height: 80%;
          margin-top: 5%;
          background: #daa520;
          position: absolute;
          right: 0;
          border-right: solid rem-calc(1px) $white;
        }
        &.no-border {
          &:after {
            border: none;
          }
        }
      }
      i {
        font-size: rem-calc(30px);
        margin-bottom: rem-calc(10px);
        @include breakpoint(small down) {
          margin-bottom: 0;
        }
      }
      .text {
        padding-top: rem-calc(10px);
        font-size: rem-calc(14px);
        @include breakpoint(small down ) {
          padding-top: 0;
          display: flex;
          align-items: center;
        }
      }
    }

  }
  .bs-stepper {
    margin-top: rem-calc(20px);
    width: 100%;
    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
    .active {
      .bs-stepper-circle {
        background-color: #bf9b30;
        color: $white;
      }
    }
    .bs-stepper-header {
      overflow: auto;
      button {
        &:focus {
          box-shadow: none;
        }
      }
    }
    .bs-stepper-content {
      padding-top: rem-calc(30px);
      .btn-next {
        display: flex;
        justify-content: flex-end;
      }
      .btn-compare {
        background-color: #A67C00;
        border: none;
        font-size: rem-calc(14px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        img {
          padding-right: 5px;
          width: rem-calc(22px);
          height: rem-calc(20px);
        }
        &:hover {
          border: none;
        }
      }
      .content {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
      }
      .description {
        padding-top: rem-calc(10px);
        font-size: rem-calc(14px) !important;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        p, span, h1, h2, h3, h4, div {
          font-family: "Roboto" !important;
          font-size: rem-calc(14px) !important;
        }
      }
      .title {
        font-size: rem-calc(20px);
        font-weight: bold;
      }
    }
  }
  .news-container {

    .title {
      @include breakpoint(medium down) {
        padding-left: rem-calc(20px);
        padding-right: rem-calc(20px);
      }
      font-family: Roboto;
      font-size: 1.875rem;
      font-weight: bold;
      font-stretch: condensed;
      letter-spacing: normal;
      text-align: left;
      color: #daa520;
      text-transform: uppercase;
      margin-bottom: 1.25rem;
    }
  }
  .news-list {
    margin-top: rem-calc(40px);

    @include breakpoint(medium down) {
      padding-left: rem-calc(20px);
      padding-right: rem-calc(20px);
    }
    .item {
      .avatar {
        width: 100%;
        //height: rem-calc(185px);
      }
      padding-right: rem-calc(20px);
      &:nth-child(odd) {
        @include breakpoint(medium down) {
          padding-right: rem-calc(10px);

        }
        @include breakpoint(small down) {
          padding-right: 0;
          padding-left: 0;
        }
      }
      &:nth-child(even) {
        @include breakpoint(medium down) {
          padding-right: 0;
          padding-left: rem-calc(10px);
        }
        @include breakpoint(small down) {
          padding-right: 0;
          padding-left: 0;
        }
      }
      @include breakpoint(small down) {
        padding-right: 0;
        padding-left: 0;
      }
      .info {
        width: 100%;
        margin-top: rem-calc(20px);
        .title {
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #2b2b2b;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 0;
        }
        .time-container {
          display: flex;
          align-items: center;
          margin-bottom: rem-calc(20px);
          span {
            font-size: rem-calc(12px);
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #93969a;
          }
          img {
            width: 12px;
          }
          i {
            font-size: rem-calc(12px);
            color: #93969a;
          }
        }
      }

    }
  }

}
#compare-modal {
  padding-right: 0px !important;

  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: rem-calc(700px);
  }

  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .modal-content {
    //background-color: #bf9b30;
    color: #141414;
  }
  .modal-header {
    position: relative;
    border: none;
    .close {
      color: #141414;
      position: absolute;
      right: 15px;
      font-size: 30px;
      top: 5px;
      &:focus {
        outline: none;
      }
    }
    .header {
      font-family: Roboto;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .modal-body {
    padding: 0 rem-calc(50px);
    @include breakpoint(small down) {
      padding: 0 rem-calc(20px);
    }
    justify-content: center;
    .select-category {
      //background-color: #bf9b30;
      color: #141414;
      font-size: 14px;
      height: 44px;
      border-radius: 5px;
      padding: rem-calc(10px) rem-calc(30px) rem-calc(10px) rem-calc(20px);
      &:focus {
        box-shadow: none;
        border-color: #cacaca;
      }
    }
    .table {
      thead {
        background-color: #bf9b30;
        height: rem-calc(44px);
        color: $white;
      }
      th {
        border-bottom: 1px solid #dee2e6;
        text-align: center;
        &:nth-child(2) {
          border-right: solid 1px #dfe0e1;
        }
      }
      td {
        &:nth-child(2) {
          border-right: solid 1px #dfe0e1;
        }
      }
      tr:nth-child(even) {
        background-color: #ffffff;
      }
      .icon {
        width: 20px;
        height: 20px;
        @include breakpoint(small down) {
          width: 60px;
        }
      }
    }
    .table, thead, tbody, tfoot, tbody tr:nth-child(even) {
      color: #141414;
      text-align: center;
    }
    .item {
      margin-bottom: rem-calc(20px);
      &.left {
        padding-right: 8px;
        @include breakpoint(small down) {
          padding-right: 0;
        }
      }
      &.right {
        padding-left: 8px;
        @include breakpoint(small down) {
          padding-left: 0;
        }
      }
    }
    input {
      width: 100%;
      border-radius: 5px;
      border: solid 1px #93969a;
      background-color: #ffffff;
      font-size: rem-calc(16px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      text-align: left;
      color: #c4c8cc;
      padding: rem-calc(15px) rem-calc(20px);
      &:focus {
        outline: none;
      }
    }
    textarea {
      min-height: 100px;
      resize: none;
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
    .btn-sumit {
      width: 100%;
      cursor: pointer;
      font-weight: bold;
      padding: rem-calc(10px);
      background-color: $yellow;
      color: $white;
      border-radius: 6px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
      }
    }

  }
}
