@import "settings";
@import "~foundation-sites/assets/foundation";
@import "main";
@include foundation-xy-grid-classes;

@import "about";
@import "home";
@import "contact";
@import "navigation";
@import "header";
@import "footer";
@import "banner";
@import "breadcrumb";
@import "recruitment";
@import "pagination";
@import "new";
@import "education";
@import "event";
@import "service";
@import "gallery";
@import "event_detail";
@import "new_detail";
@import "settlement";


body {
  @include breakpoint(medium down) {
    .fb_dialog {
      display: none !important;
    }
  }
  .lg-outer .lg-image {
    width: 100% !important;
  }
  .no-data {
    padding-top: rem-calc(50px);
    padding-bottom: rem-calc(50px);
  }
}
